.main-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: $sp-md;
  background-color: $color-white;
  box-shadow: $shadow;

  .user-profile {
    display: flex;
    align-items: center;

    .notification-btn {
      margin-right: $sp-sm;
      background: none;
      border: none;
      font-size: 1.2rem;
      color: $color-grey;
    }

    .user-info {
      display: flex;
      align-items: center;

      .user-avatar {
        border-radius: 50%;
        margin-right: $sp-sm;
      }

      .user-name {
        font-weight: 500;
      }
    }
  }
}
