.project-cards-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
}
.card-hover-wrapper {
  position: relative;
  padding-bottom: 3rem;

  &:hover::before,
  &:hover::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 4px;
    border-radius: 999px;
    background-color: currentColor;
  }

  &:hover::before {
    width: 80%;
    bottom: 1.4rem;
    opacity: 0.6;
  }

  &:hover::after {
    width: 50%;
    bottom: 0.8rem;
    opacity: 0.3;
  }

  &.-white {
    color: #3498db;
  }
  &.-orange {
    color: #e67e22;
  }
  &.-green {
    color: #2ecc71;
  }
  &.-pink {
    color: #e91e63;
  }
  &.-purple {
    color: #9b59b6;
  }
  &.-yellow {
    color: #f1c40f;
  }
}

.project-card {
  border-radius: 24px;
  padding: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.06);
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  background: #fff;
  min-height: 24rem;
  cursor: pointer;
  transition: transform 0.2s;
}

.card-header {
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
  color: #9a9a9a;
  margin-bottom: 1.2rem;
}

.card-title {
  font-size: 1.8rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 0.4rem;
  color: #2f2f2f;
}

.card-subtitle {
  text-align: center;
  font-size: 1.3rem;
  color: #9a9a9a;
  margin-bottom: 1.2rem;
}

.card-status {
  font-size: 1.4rem;
  font-weight: 600;
  color: #2f2f2f;
  text-align: left;
  margin-bottom: 0.6rem;
}

.progress-bar-wrapper {
  width: 100%;
  margin-bottom: 0.6rem;

  .progress-bar {
    width: 100%;
    background: #eee;
    height: 0.6rem;
    border-radius: 0.3rem;
    overflow: hidden;

    .progress-fill {
      height: 100%;
      border-radius: 0.3rem;
      transition: width 0.3s ease;
    }
  }

  .status-percentage {
    font-size: 1.4rem;
    font-weight: 600;
    color: #2f2f2f;
    text-align: right;
    display: block;
    margin-top: 0.6rem;
  }
}

.progress-separator {
  width: 100%;
  height: 1px;
  background: #fff;
  margin: 1rem 0;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .team-avatars {
    display: flex;
    align-items: center;

    .team-avatar {
      width: 24px;
      height: 24px;
      border-radius: 50%;
      margin-left: -8px;

      &:first-child {
        margin-left: 0;
      }
    }

    .avatar-count {
      margin-left: 8px;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      color: #fff;
      font-size: 12px;
      font-weight: 500;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .days-left {
    padding: 6px 14px;
    border-radius: 999px;
    font-size: 12px;
    font-weight: 500;
  }
}

.avatar-count {
  cursor: pointer;
  .card-white & {
    background-color: $color-blue;
  }
  .card-orange & {
    background-color: $color-orange;
  }
  .card-green & {
    background-color: $color-green;
  }
  .card-pink & {
    background-color: $color-pink;
  }
  .card-purple & {
    background-color: $color-purple;
  }
  .card-yellow & {
    background-color: $color-yellow;
  }
}

.card-white {
  background: #fffefe;

  .progress-fill {
    background: $color-blue;
  }

  .days-left {
    background: #d8f5fe;
    color: $color-blue;
  }

  .progress-separator {
    background: #e0e0e0;
  }
}

.card-orange {
  background: #ffe4ca;

  .progress-fill {
    background: $color-orange;
  }

  .days-left {
    background: #fff;
    color: $color-orange;
  }
}

.card-green {
  background: #bbf2d2;

  .progress-fill {
    background: $color-green;
  }

  .days-left {
    background: #fff;
    color: $color-green;
  }
}

.card-pink {
  background: #ffd2e3;

  .progress-fill {
    background: $color-pink;
  }

  .days-left {
    background: #fff;
    color: $color-pink;
  }
}

.card-purple {
  background: #e9e6fb;

  .progress-fill {
    background: $color-purple;
  }

  .days-left {
    background: #fff;
    color: $color-purple;
  }
}
.card-yellow {
  background: #fff1d2;

  .progress-fill {
    background: $color-yellow;
  }

  .days-left {
    background: #fff;
    color: $color-yellow;
  }
}

.card-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  .dot {
    width: 7px;
    height: 7px;
    background-color: #2f2f2f;
    border-radius: 50%;
    display: block;
  }
}
