.messages-section {
  flex: 1;
  padding: $sp-lg;
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
}
.messages-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: $sp-md;
  padding-bottom: $sp-sm;
  border-bottom: 1px solid $color-border;
}

.messages-title {
  font-size: 1.8rem;
  font-weight: 600;
  margin-left: $sp-lg;
}

.messages-actions {
  display: flex;
  gap: $sp-sm;

  button {
    background: none;
    border: none;
    cursor: pointer;
    color: $color-black;
    margin-right: $sp-lg;
    font-size: 1.6rem;
  }
}

.message-item {
  display: flex;
  align-items: center;
  margin-bottom: $sp-md;
  padding-bottom: $sp-md;
  padding-left: $sp-lg;
  border-bottom: 1px solid $color-border;

  &:last-child {
    border-bottom: none;
  }
  &:last-child:hover {
    border-bottom: 1px transparent $color-border;
  }
  &:hover {
    background-color: #fff;
    border-radius: 16px;
    padding: $sp-md;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.06);
    transition: all 0.3s;
    display: flex;
    align-items: flex-start;
    margin-bottom: $sp-md;
    padding-bottom: $sp-md;
    transform: translateY(-2px);
  }
}

.message-avatar {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  margin-right: $sp-md;
}

.message-content {
  flex: 1;
  position: relative;
  margin-right: $sp-lg;
}

.message-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4px;
}

.message-name {
  font-weight: 600;
  font-size: 1.4rem;
}

.message-text {
  color: $color-grey;
  font-size: 1.3rem;
  line-height: 1.4;
  margin-bottom: 10px;
  padding-right: 30px;
}

.message-time {
  color: $color-grey;
  font-size: 1.2rem;
  position: absolute;
  bottom: 0;
  right: 0;
}

.message-star {
  color: $color-dark;
  cursor: pointer;

  &.starred {
    color: $color-dark;
  }
}
